/*#calendar, #kids, #zahlungen {*/
    /*max-width: 1100px;*/
    /*margin: auto;*/
/*}*/

/*#calendar .fc-day{*/
    /*transition: all .5s;*/
/*}*/

/*#calendar .fc-day:hover {*/
    /*background: aquamarine;*/
/*}*/

.card {
    box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
    max-width: 100%;
    margin: auto;
    border: 0;
    border-radius: .1875rem;

}

body {
    background-color: #e7e5e5;
}

.red-icon:hover {
    color: red; !important;
}

.orange-icon:hover {
    color: orange; !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: white; !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: white; !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    background-color: white; !important;
}

.login-btn:hover {
    color: black;
}

.fa-user-circle, .dropdown-toggle {
    color: rgba(255, 255, 255, 0.6) !important;
}

.fa-user-circle:hover, .dropdown-toggle:hover {
    color: rgba(255, 255, 255, 1) !important;
}



