#calendar {
    max-width: 900px;
    margin: auto;
}

#calendar .fc-day{
    transition: all .5s;
}

#calendar .fc-day:hover {
    background: aquamarine;
}

#div1 {
    display: inline-block;
}

#calendar-card, #table-card {
    box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
    max-width: 50rem;
    margin: auto;
    /*display: inline-block;*/
    /*position: relative;*/
    border: 0;
    border-radius: .1875rem;

}

