/*#calendar, #kids, #zahlungen {*/
    /*max-width: 1100px;*/
    /*margin: auto;*/
/*}*/

/*#calendar .fc-day{*/
    /*transition: all .5s;*/
/*}*/

/*#calendar .fc-day:hover {*/
    /*background: aquamarine;*/
/*}*/

.card.border-light {
    box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
    max-width: 100%;
    margin: auto;
    border: 0;
    border-radius: .1875rem;

}

body {
    background-color: #e7e5e5;
}

.red-icon:hover {
    color: red; !important;
}

.orange-icon:hover {
    color: orange; !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: white; !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: white; !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    background-color: white; !important;
}

.login-btn:hover {
    color: black;
}

.fa-user-circle, .dropdown-toggle {
    color: rgba(255, 255, 255, 0.6) !important;
}

.fa-user-circle:hover, .dropdown-toggle:hover {
    color: rgba(255, 255, 255, 1) !important;
}

textarea {outline: none; text-align: justify; }

blockquote {
    border-left: 6px solid red;
    background-color: lightgrey;
    padding: 4px 4px 4px 10px;

}

.page-link {
    height:55px;
}

.message-quote {
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 40px;
    overflow: hidden;
    /*border-left: 2px solid #d2bf94;*/
    padding: 10px 20px;
    color: #888;
    background-color: #eee;
    -moz-transition: color 1s, background-color 1s;
    -webkit-transition: color 1s, background-color 1s;
    -o-transition: color 1s, background-color 1s;
    transition: color 1s, background-color 1s;
    border:inset; border-bottom:none;}
.message-quote:focus {
    resize: both;
    overflow: auto;
    max-height: 100%;
    color: #000;
    background-color: #fff;
    border:inset; border-bottom:none;}




