<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd

       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">


    <!--SQL-Init-->
    <!--<jdbc:initialize-database data-source="dataSource" enabled="${database.init}">-->
        <!--<jdbc:script encoding="utf-8" location="classpath:db/${jdbc.initLocation}"/>-->
        <!--<jdbc:script encoding="utf-8" location="classpath:db/populateDB.sql"/>-->
    <!--</jdbc:initialize-database>-->

    <tx:annotation-driven/>

    <context:component-scan base-package="art.school.**.repository"/>
    <jpa:repositories base-package="art.school.**.repository"/>

    <context:component-scan base-package="art.school.**.util"/>

    <context:component-scan base-package="art.school.**.helper"/>

    <context:component-scan base-package="art.school.**.service"/>

    <context:component-scan base-package="art.school.**.web"/>

    <context:property-placeholder location="classpath:db/app.properties" system-properties-mode="OVERRIDE"/>

    <!--Liquibase-->
    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase"
          p:dataSource-ref="dataSource"
          p:changeLog="classpath:db/changelog/liquibase-master.xml"
          p:contexts=""
          p:dropFirst="false"/>


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
          p:driverClass="org.postgresql.Driver"
          p:jdbcUrl="${database.url}"
          p:user="${database.username}"
          p:password="${database.password}"/>


    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:dataSource-ref="dataSource"
          p:packagesToScan="art.school.**.entity">

        <property name="jpaPropertyMap">
            <map>
                <entry key="#{T(org.hibernate.cfg.AvailableSettings).FORMAT_SQL}" value="${hibernate.format_sql}"/>
                <entry key="#{T(org.hibernate.cfg.AvailableSettings).USE_SQL_COMMENTS}"
                       value="${hibernate.use_sql_comments}"/>
                <entry key="#{T(org.hibernate.cfg.AvailableSettings).JPA_PROXY_COMPLIANCE}" value="false"/>

            </map>
        </property>

        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
                  p:showSql="${jpa.showSql}">
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
          p:entityManagerFactory-ref="entityManagerFactory"/>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"
          p:host="${email.host}"
          p:port="${email.port}"
          p:username="${email.username}"
          p:password="${email.password}"
          p:defaultEncoding="UTF-8">
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">${email.transport.protocol}</prop>
                <prop key="mail.smtp.auth">${email.smtp.auth}</prop>
                <prop key="mail.smtp.starttls.enable">${email.smtp.starttls.enable}</prop>
                <prop key="mail.debug">${email.debug}</prop>
                <prop key="mail.smtp.ssl.enable">${email.smtp.ssl.enable}</prop>
            </props>
        </property>
    </bean>
    <!--<context:property-placeholder location="classpath:db/app.properties" system-properties-mode="OVERRIDE"/>-->
    <!--<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close"-->
    <!--p:driverClassName="org.postgresql.Driver"-->
    <!--p:url="${database.url}"-->
    <!--p:username="${database.username}"-->
    <!--p:password="${database.password}"/>-->
</beans>