<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">




    <mvc:annotation-driven/>

    <security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled"/>

    <context:component-scan base-package="art.school.**.web"/>

    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>

    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"-->
    <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver"
          p:viewClass="org.springframework.web.servlet.view.JstlView"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>

    <bean id="messageSource"
                class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!--<bean id="localeResolver"-->
                <!--class="org.springframework.web.servlet.i18n.CookieLocaleResolver">-->
        <!--<property name="defaultLocale" value="de"/>-->
        <!--<property name="cookieName" value="myAppLocaleCookie"/>-->
        <!--<property name="cookieMaxAge" value="3600"/>-->
    <!--</bean>-->


    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="en" />
    </bean>


    <mvc:interceptors>
        <bean
                class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="locale" />
        </bean>
    </mvc:interceptors>


</beans>