<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:hsql.properties"/>

    <tx:annotation-driven/>

    <!--<context:component-scan base-package="art.school.**.repository"/>-->
    <!--<jpa:repositories base-package="art.school.**.repository"/>-->

    <context:component-scan base-package="art.school.**.util"/>

    <context:component-scan base-package="art.school.**.service"/>

    <context:component-scan base-package="art.school.**.web"/>

    <jdbc:embedded-database id="dataSource" type="HSQL">
        <jdbc:script encoding="utf-8" location="classpath:initDB-test.sql"/>
        <!--<jdbc:script location="classpath:test-data.sql"/>-->
    </jdbc:embedded-database>

    <!--<bean id="dataSource"-->
          <!--class="org.h2.jdbcx.JdbcDataSource">-->
        <!--<property name="URL" value="${spring.datasource.url}"/>-->
        <!--<property name="user" value="${spring.datasource.username}"/>-->
        <!--<property name="password" value="${spring.datasource.password}"/>-->
    <!--</bean>-->

    <!--<jdbc:initialize-database data-source="dataSource" enabled="true">-->
        <!--<jdbc:script location="classpath:db/initDB.sql"/>-->
        <!--&lt;!&ndash;<jdbc:script location="classpath:test-data.sql"/>&ndash;&gt;-->
    <!--</jdbc:initialize-database>-->

</beans>